@tailwind base;
@tailwind components;
@tailwind utilities;

.keen-slider__slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
